In [100]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [101]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [102]:
#preprocess the data  (rowNumber,CustomerId,Surname is of no use so delete(drop) those column from the dataset)
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1, errors='ignore')
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [103]:
# Encode categorical variables-->for gender(as only male and female present so apply label_encoder)
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [104]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [105]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [ ]:
# Split the data into features and target(we have to predict Estimated salary so we are sending it to y )
y = data['EstimatedSalary']
X = data.drop(['EstimatedSalary','Exited'], axis=1)

In [107]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [108]:
## Scale these features-->convert it into array
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [ ]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)


##ANN REGRESSION PROBLEM STATEMENT

In [110]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [111]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # here we didnot apply any activation funcyion if we dont apply any activation function then default activation function will be apply which is linear activation function
])

## compile the model (for loosing the error)
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])   #Optimizer decides HOW the model updates its weights-->It automatically adjusts the learning rate,Loss function tells the model how wrong it is,metric is same as loss, so you’ll see MAE in output.

model.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 64)                832

 dense_16 (Dense)            (None, 32)                2080

 dense_17 (Dense)            (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [112]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")  #adds current date & time to folder name,
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)  #Basically, this watches your model during training.

In [113]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)  #monitor='val_loss-->This tells the callback which metric to watch during training

In [114]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 100364.2344 - mae: 100364.2344 - val_loss: 98463.9688 - val_mae: 98463.9688
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 99402.2188 - mae: 99402.2188 - val_loss: 96518.0078 - val_mae: 96518.0078
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 96009.7344 - mae: 96009.7344 - val_loss: 91599.9766 - val_mae: 91599.9766
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 89456.2344 - mae: 89456.2344 - val_loss: 83610.4766 - val_mae: 83610.4766
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 80255.5469 - mae: 80255.5469 - val_loss: 73944.2266 - val_mae: 73944.2266
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 70200.5859 - mae: 70200.5859 - val_loss: 64722.7422 - val_mae: 64722.7422
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 61454.2969 - mae: 61454.2969 - val_loss: 57570.8008 - val_mae: 57570.8008
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 55394.6914 - mae: 55394.6914 - val_loss: 53378.9219 - val_mae: 53378.9219
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 52177.4531 - mae: 52177.4531 - val_loss: 51597.0195 - val_mae: 51597.0195
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 50885.3203 - mae: 50885.3203 - val_loss: 51054.8945 - val_mae: 51054.8945
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 50409.9883 - mae: 50409.9883 - val_loss: 50913.0117 - val_mae: 50913.0117
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 50244.1484 - mae: 50244.1484 - val_loss: 50840.3359 - val_mae: 50840.3359
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 50152.1211 - mae: 50152.1211 - val_loss: 50785.6875 - val_mae: 50785.6875
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 50081.4570 - mae: 50081.4570 - val_loss: 50732.4766 - val_mae: 50732.4766
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 50024.0742 - mae: 50024.0742 - val_loss: 50696.2109 - val_mae: 50696.2109
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 49979.1992 - mae: 49979.1992 - val_loss: 50666.1328 - val_mae: 50666.1328
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 49937.0117 - mae: 49937.0117 - val_loss: 50637.8984 - val_mae: 50637.8984
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 49898.0430 - mae: 49898.0430 - val_loss: 50604.7383 - val_mae: 50604.7383
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 49865.8008 - mae: 49865.8008 - val_loss: 50576.6875 - val_mae: 50576.6875
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 49836.1523 - mae: 49836.1523 - val_loss: 50552.1406 - val_mae: 50552.1406
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 49809.1797 - mae: 49809.1797 - val_loss: 50538.5781 - val_mae: 50538.5781
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 49783.3672 - mae: 49783.3672 - val_loss: 50527.0430 - val_mae: 50527.0430
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 49760.9062 - mae: 49760.9062 - val_loss: 50508.6211 - val_mae: 50508.6211
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 49743.1133 - mae: 49743.1133 - val_loss: 50494.0430 - val_mae: 50494.0430
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 49721.0742 - mae: 49721.0742 - val_loss: 50481.6250 - val_mae: 50481.6250
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 49703.6641 - mae: 49703.6641 - val_loss: 50477.4609 - val_mae: 50477.4609
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 49682.8398 - mae: 49682.8398 - val_loss: 50469.2773 - val_mae: 50469.2773
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 49669.5352 - mae: 49669.5352 - val_loss: 50454.6133 - val_mae: 50454.6133
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 49650.8789 - mae: 49650.8789 - val_loss: 50455.9023 - val_mae: 50455.9023
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 49634.1523 - mae: 49634.1523 - val_loss: 50440.4141 - val_mae: 50440.4141
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 49620.5859 - mae: 49620.5859 - val_loss: 50430.4609 - val_mae: 50430.4609
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 49609.0078 - mae: 49609.0078 - val_loss: 50423.4336 - val_mae: 50423.4336
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 49595.1914 - mae: 49595.1914 - val_loss: 50414.1367 - val_mae: 50414.1367
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 49582.2461 - mae: 49582.2461 - val_loss: 50425.3008 - val_mae: 50425.3008
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 49571.2969 - mae: 49571.2969 - val_loss: 50418.2969 - val_mae: 50418.2969
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 49556.9844 - mae: 49556.9844 - val_loss: 50410.0547 - val_mae: 50410.0547
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 49547.1953 - mae: 49547.1953 - val_loss: 50398.9961 - val_mae: 50398.9961
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 49538.4531 - mae: 49538.4531 - val_loss: 50409.7969 - val_mae: 50409.7969
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 49527.6172 - mae: 49527.6172 - val_loss: 50408.6367 - val_mae: 50408.6367
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 49518.1211 - mae: 49518.1211 - val_loss: 50409.7148 - val_mae: 50409.7148
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 49505.7852 - mae: 49505.7852 - val_loss: 50409.9414 - val_mae: 50409.9414
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 49498.7734 - mae: 49498.7734 - val_loss: 50409.2695 - val_mae: 50409.2695
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 49488.5195 - mae: 49488.5195 - val_loss: 50404.0273 - val_mae: 50404.0273
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 49483.9648 - mae: 49483.9648 - val_loss: 50403.8516 - val_mae: 50403.8516
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 49474.3203 - mae: 49474.3203 - val_loss: 50390.9648 - val_mae: 50390.9648
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 49463.0781 - mae: 49463.0781 - val_loss: 50402.4570 - val_mae: 50402.4570
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 49457.6445 - mae: 49457.6445 - val_loss: 50402.2656 - val_mae: 50402.2656
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 49451.9492 - mae: 49451.9492 - val_loss: 50408.1484 - val_mae: 50408.1484
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 49445.6250 - mae: 49445.6250 - val_loss: 50391.2773 - val_mae: 50391.2773
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 49439.1562 - mae: 49439.1562 - val_loss: 50391.5586 - val_mae: 50391.5586
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 49431.8281 - mae: 49431.8281 - val_loss: 50392.7891 - val_mae: 50392.7891
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 49422.7773 - mae: 49422.7773 - val_loss: 50395.0430 - val_mae: 50395.0430
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 49418.2148 - mae: 49418.2148 - val_loss: 50385.0547 - val_mae: 50385.0547
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 49410.2344 - mae: 49410.2344 - val_loss: 50386.5391 - val_mae: 50386.5391
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 49405.1406 - mae: 49405.1406 - val_loss: 50378.5195 - val_mae: 50378.5195
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 49403.6484 - mae: 49403.6484 - val_loss: 50384.0977 - val_mae: 50384.0977
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 49394.8242 - mae: 49394.8242 - val_loss: 50379.3555 - val_mae: 50379.3555
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 49389.9219 - mae: 49389.9219 - val_loss: 50383.0117 - val_mae: 50383.0117
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 49382.2266 - mae: 49382.2266 - val_loss: 50393.4062 - val_mae: 50393.4062
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 49380.5938 - mae: 49380.5938 - val_loss: 50385.8438 - val_mae: 50385.8438
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 49372.7539 - mae: 49372.7539 - val_loss: 50390.1016 - val_mae: 50390.1016
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 49369.1680 - mae: 49369.1680 - val_loss: 50393.1328 - val_mae: 50393.1328
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 49363.5977 - mae: 49363.5977 - val_loss: 50366.8086 - val_mae: 50366.8086
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 49361.9570 - mae: 49361.9570 - val_loss: 50379.9922 - val_mae: 50379.9922
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 49352.0117 - mae: 49352.0117 - val_loss: 50352.7109 - val_mae: 50352.7109
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 49351.1719 - mae: 49351.1719 - val_loss: 50366.8984 - val_mae: 50366.8984
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 49345.4453 - mae: 49345.4453 - val_loss: 50376.4492 - val_mae: 50376.4492
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 49341.7656 - mae: 49341.7656 - val_loss: 50382.3711 - val_mae: 50382.3711
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 49339.4648 - mae: 49339.4648 - val_loss: 50394.4727 - val_mae: 50394.4727
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 49333.9961 - mae: 49333.9961 - val_loss: 50384.3633 - val_mae: 50384.3633
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 49326.9062 - mae: 49326.9062 - val_loss: 50376.2930 - val_mae: 50376.2930
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 49325.9414 - mae: 49325.9414 - val_loss: 50372.0586 - val_mae: 50372.0586
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 49322.0938 - mae: 49322.0938 - val_loss: 50377.4883 - val_mae: 50377.4883
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 49315.4062 - mae: 49315.4062 - val_loss: 50370.0312 - val_mae: 50370.0312
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 49312.4062 - mae: 49312.4062 - val_loss: 50373.3398 - val_mae: 50373.3398

In [116]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [117]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 27744), started 21:49:03 ago. (Use '!kill 27744' to kill it.)

In [121]:
#Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE:{test_mae}')

63/63 [==============================] - 0s 814us/step - loss: 50352.7109 - mae: 50352.7109
Test MAE:50352.7109375

In [122]:
model.save('regression_model.h5')